


<div class="wrapper">

  <div class="main-wrapper">

    <div class="strip">
      <h1> Curriculum Vitae </h1>
    </div>

    <section class="section summary-section">
      <h2 class="section-title"><i class="fa fa-user"></i>Summery</h2>
      <div class="summary">
        <p>Comes from the world of Computers & Marketing. Strong programming passion, quick learner, energetic and creative. Knows how to work both solo and in a team. Prior jobs demanded 'Thinking Outside the Box' under pressure. References available upon request.</p>
             </div><!--//summary-->
    </section><!--//section-->

    <section class="section experiences-section">
      <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="job-title">Front-End Developer</h3>
            <div class="time">2015 - Present</div>
          </div><!--//upper-row-->
          <div class="company">Startup 'LeadDaway', Specializes in Marketing</div>
        </div><!--//meta-->
        <div class="details">
          <ul>
            <li>Client Side –Building websites, landing page, SPA, Responsive design. Familiar with WordPress as well.</li>
            <li>Server Side – dealing with Databases (MySQL), working with API's, familiar with Node.js framework. </li>
            <li>Developing different products – changed projects – JetBrains WebStorm IDE – Using Bit Bucket for team work</li>
          </ul>
        </div><!--//details-->
      </div><!--//item-->

      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="job-title">Active Trader + Lecturer</h3>
            <div class="time">2014 - 2015</div>
          </div><!--//upper-row-->
          <div class="company">'Psagot College' Teaching Trading</div>
        </div><!--//meta-->
        <div class="details">
          <ul>
            <li>Teaching trading techniques from zero to hero in both classes and personal meetings - .</li>
            <li>Weekly Trading Webinars - Providing live and profitable trades for our "Investment Club" members. </li>
            <li>Accompanying traders in different levels to manage their portfolio better.</li>
          </ul>
        </div><!--//details-->
      </div><!--//item-->

      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="job-title">Digital Marketing</h3>
            <div class="time">2012 - 2014</div>
          </div><!--//upper-row-->
          <div class="company">'Medio', TV and Web Marketing</div>
        </div><!--//meta-->
        <div class="details">
          <ul>
            <li>Managing Social Pages and uploading new content for clients based on their main business theme.</li>
            <li>Building creatives; Banners, Landing Page and mini-sites using Photoshop and other Web Technologies (Html,Css..). </li>
            <li>Responsible for running PPC campaigns on different networks such as Facebook, Google AdWords,PropelMedia, 50onRed and more.</li>
          </ul>        </div><!--//details-->
      </div><!--//item-->

    </section><!--//section-->

    <section class="section projects-section">
      <h2 class="section-title"><i class="fa fa-archive"></i>Education</h2>
      <div class="intro">
        <span class="job-title">'GreenGates High School Mexico City' </span>
        <div class="company">English school, Extension of 'Cambridge'.</div>
        <ul>
          <li>Full scholarship for the second and third year by the school's manager.</li>
          <li>Finished With honors the IB -International Baccalaureate - with High mean grade </li>
        </ul>
      </div><!--//intro-->
      <div class="item">
        <p class="project-title"><a href="javascrip:;">Proffesioanl Courses</a></p>
        <ul>
          <li>Self-Investing account Trader – US stocks and Forex – 'Psagot' – 2012</li>
          <li>Android based Applications Course – John Bryce – JAVA – 2015.</li>
          <li>Angular 2 Framework – John Bryce – 2016.</li>
        </ul>
      </div><!--//item-->

    </section>

    <section class="section projects-section">
      <h2 class="section-title"><i class="fa fa-fighter-jet"></i>Military Service</h2>
      <div class="intro">
        <span class="job-title">'Meitav' -  </span>
        <div class="company">Drug Enforcement Officer and IDF representative in Ben Gurion Air Port</div>
        <ul>
          <li>Responsible for more than 50 soldiers who were charged with drugs violations during the army</li>
          <li>Daily basis communications with both military and civilian authorities such Law Courts </li>
          <li>Working with high military ranks from different fields - Mental Health, Law enforcements and more.</li>
        </ul>
      </div>
     </section>



    <section class="skills-section section">
      <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
      <div class="skillset">
        <div class="item">
          <h3 class="level-title">HTML5 &amp; CSS &amp; LESS </h3>
          <div class="level-bar">
            <div class="level-bar-inner" style="width:90%">
            </div>
          </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
          <h3 class="level-title">Javascript &amp; jQuery</h3>
          <div class="level-bar">
            <div class="level-bar-inner" style="width:90%">
            </div>
          </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
          <h3 class="level-title">Angular 2</h3>
          <div class="level-bar">
            <div class="level-bar-inner" style="width:75%">
            </div>
          </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
          <h3 class="level-title">JAVA</h3>
          <div class="level-bar">
            <div class="level-bar-inner" style="width:85%">
            </div>
          </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
          <h3 class="level-title">Bootstrap & Material Design</h3>
          <div class="level-bar">
            <div class="level-bar-inner" style="width:85%">
            </div>
          </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
          <h3 class="level-title">Photoshop</h3>
          <div class="level-bar">
            <div class="level-bar-inner" style="width:90%">
            </div>
          </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
          <h3 class="level-title">AJAX & JSON & MySql & Node.js</h3>
          <div class="level-bar">
            <div class="level-bar-inner" style="width:80%">
            </div>
          </div><!--//level-bar-->
        </div><!--//item-->



        <div class="item">
          <h3 class="level-title">Android Studio & Visual Studio & Webstorm</h3>
          <div class="level-bar">
            <div class="level-bar-inner" style="width:85%">
            </div>
          </div><!--//level-bar-->
        </div><!--//item-->

        <h2 class="section-title"><i class="fa fa-globe"></i>Languages</h2>

        <div class="item">
          <h3 class="level-title">Hebrew</h3>
          <div class="level-bar">
            <div class="level-bar-inner" style="width:100%">
            </div>
          </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
          <h3 class="level-title">English</h3>
          <div class="level-bar">
            <div class="level-bar-inner" style="width:100%">
            </div>
          </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
          <h3 class="level-title">Spanish</h3>
          <div class="level-bar">
            <div class="level-bar-inner" style="width:85%">
            </div>
          </div><!--//level-bar-->
        </div><!--//item-->

      </div>
    </section><!--//skills-section-->

  </div><!--//main-body-->
</div>

<footer class="footer">
  <div class="text-center">
    <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
    <small class="contact">Don't hesitate to contact me if you have any questions </small>
  </div><!--//container-->
</footer><!--//footer-->

<script type="text/javascript" src="assets/js/main.js"></script>


