<div class="wrapper">
  <div class="main-wrapper">

    <div class="top-ul">
      <ul>
        <li style="font-size:25px ;color:#722B6F; font-weight: 800;">Energetic</li>
        <li style="font-size:20px ;color:#424869">Team-Player</li>
        <li style="font-size:25px ;color: #36a9e1; font-weight: bold" >Funny</li>
      </ul>
    </div>

    <div class="middle">
      <div id="changeOnResponsinve">
      <div class="left-ul">
        <ul>
          <li  id="designB" style="font-size:19px; color:#26347d">Designing Background</li>
          <li id="friendly" style="font-size:24px ;color: #36a9e1; font-family: cursive; padding-left: 150px;">  Friendly</li>
          <li  id="learnq" style="font-size:30px ;color:#424869">Learn Quickly</li>
        </ul>
      </div>
      <div class="img-container">
        <img src="../../assets/images/aboutme.png" class="img-circle"/>
      </div>

      <div class="right-ul">
        <ul>
          <li style="font-size:22px ;color: #e16936;">Great Humor </li>
          <li id="photoshop" style="font-size:15px ;color:#424869;font-family: fantasy; margin-left: -167px;">Photoshop A+ Skills</li>
          <li style="font-size:25px ;color:#722B6F">Creative</li>
        </ul>
      </div>
      </div>
    </div>

    <div class="bottom-ul">
        <ul>
          <li style="font-size:19px ;color: #e16936; vertical-align: top;">Love Programming</li>
          <li style="font-size:27px ;color:#722B6F ;font-weight: bold;">Loyal</li>
          <li style="font-size:19px ; color:#26347d;font-weight: bold; vertical-align: top;">Think outside the box</li>
        </ul>
      </div>


    </div>
  <div class="strip">
    <h3 id="footerTitle">Stay in touch -
      <a href="javascript:;" class="tooltip" style="color: #36a9e1;">
        Call Me
    <span id="toltipId">
        <img class="callout" src="../../assets/images/callout_black.gif" />
        <img  class="phonePic"src="../../assets/images/callMePhonePic.png" style="float:right;" />
        <strong>My Phone Number</strong><br />
                +972 54-81-20-818
    </span>
      </a>
    </h3>
  </div>
</div>
