
.wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding-right:50px;
  position: relative;
  padding-left: 0px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}


.main-wrapper
{
  text-align: center;
  display: table;
  margin: auto;
  width: 100%;
  padding-top: 50px;
  padding-bottom:30px;
}
.top-ul li
{
  display: inline-block;
  width: 23%;
}

.left-ul
{
  display: inline-block;
  width: 30%;
  vertical-align: middle;
  padding-left: 0px;
}

.left-ul ul
{
  list-style: none;
  padding-left: 0px;

}

.left-ul ul li
{
  margin-bottom: 15px;

}

.img-container
{
  display: inline-block;
  width: 30%;
}

.img-container img
{
  width:300px;
  background:url('../../assets/images/background2.png');
  background-size:100% 100% ;
}

.right-ul
{
  display: inline-block;
  width: 30%;
  vertical-align: middle;


}

.right-ul ul
{
  list-style: none;
}


.right-ul ul li
{
  margin-bottom: 25px;
}


.bottom-ul li
{
  display: inline-block;
  width: 27%;
}


li
{
  transition: all .2s ease-in-out;
}
li:hover {
  transform: scale(1.1);
}


.strip
{
  color: white;
  text-align: center;
  background: #722b6f;
  padding-bottom: 1px;
  padding-top: 1px;
  border-radius: 5px;
  margin-bottom: 20px;
}



a.tooltip {outline:none;
  opacity: 1;
  position: initial;
  display: inline-block;
  font-size: 20px;


}
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none;}
a.tooltip span {
  font-size: 16px;
  z-index:10;display:none;
  padding:0px 20px;
  margin-left: -87px;
  width:235px;
  line-height:16px;
  margin-top: 18px;
}
a.tooltip:hover span{
  display:inline; position:absolute;
  border:2px solid #FFF;  color:#EEE;
  background:#333 url(../../assets/images/css-tooltip-gradient-bg.png) repeat-x 0 0;
}
.callout {z-index:20;position:absolute;border:0;top:-14px;left:120px;}
.phonePic {width: 50px;}




@media only screen and (max-width: 865px) {

  .wrapper
  {
    padding-right:0px;
  }

  #friendly
  {
    padding-left:0px !important;

  }
  #photoshop
  {
    margin-left:0px !important;
  }

  .img-container
  {
    display: inline-block;
    width: 37%;
  }

}

@media only screen and (max-width: 650px) {

  .main-wrapper
  {
    padding-top:0px;
  }

  .top-ul
  {
    display: table-footer-group;
  }

  #changeOnResponsinve
  {
    display: table;
    width: 100%;
  }
  .img-container
  {
    display: table-header-group;

  }

  .left-ul
  {
    display: table-footer-group;

  }

  .left-ul li
  {
    display: inline-block;
    width: 30%;

  }

  .right-ul li
  {
    display: inline-block;
    width: 30%;
    margin-bottom: 0px !important;
  }

  .right-ul
  {
    display: table-footer-group;

  }

  .right-ul ul
  {
padding-left: 0px;
  }

  .left-ul ul
  {
    padding-left: 0px;
  }

  .bottom-ul ul
  {
    padding-left: 0px;

  }

  #designB
  {
    font-size:15px !important;
  }

  #learnq
  {
    font-size: 19px !important;
  }

  .top-ul li
  {
    width:49% !important;
  }

  .img-container img
  {
    background: none !important;
  }


}


@media (max-width:475px) and (min-width:335px) {

  #toltipId
  {
    margin-left:-155px;
  }
}





