<div class="wrapper">

<div class="arrow-contorolers">
  <a  id="leftArrow" data-target="#custom_carousel" data-slide="prev" href="#custom_carousel"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a id="rightArrow" data-target="#custom_carousel" data-slide="next" href="#custom_carousel"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

  <div class="main-wrapper">


    <div id="custom_carousel" class="carousel slide">
      <div class="strip">
        <h1 id="mainTitle">Last Projects</h1>
      </div>


      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3"><img src="../../assets/images/ldw.png" class="img-responsive img-rounded imgCarouselStyling" style="box-shadow: 3px 1px 5px 1px #969494;"></div>
              <div class="col-md-9 textStylingParagraph">
                <h2>Don't Mess with the 'Designer' </h2>
                <p>LeadDaway is an SU marketing company which specializes in providing high technological services to businesses. I was in charge of building Leaddaway's main page following strict designer lines. The design was sent over in a PSD file (Photoshop) with the exact sizes needed for both PC and Mobile.
                I used <code>HTML,CSS & Bootstrap</code> to implement the design and at the same time to make it responsive.</p>
                <a href="http://www.leaddaway.com/details/" target="_blank">Click to view Website</a>

              </div>
            </div>
          </div>
        </div>


        <div class="item ">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3">
                <img src="../../assets/images/FVlogo.png" class="img-responsive img-rounded imgCarouselStyling" style="box-shadow: 3px 1px 5px 1px #969494;">
              </div>
              <div class="col-md-9 textStylingParagraph">
                <h2>Stay Financially updated</h2>
                <p>FinanceVersity is an online Magazine that provides its readers daily news on Stocks,Commodities and Currencies. I built the website in a Wordpress enviro nment, using <a href="http://magazine3.com/demo/webjournal/">'WebJournal' Theme</a> The Theme was completely customized (see the difference between Financeversity to the actual theme) using <code>PHP</code> and <code>HTML,CSS,JS</code>.
                  The client wanted to have a simple CMS so his writers will have the ability to upload news easily - thus I decided to use Wordpress as an initial set up.</p>
                <a href="http://www.financeversity.com/" target="_blank">Click to view Website</a>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3"><img src="../../assets/images/socialRadarLogo.png" class="img-responsive img-rounded imgCarouselStyling" style="box-shadow: 3px 1px 5px 1px #969494;"></div>
              <div class="col-md-9 textStylingParagraph">
                <h2>Stay in Tocuh</h2>
                <p>Simple Landing page, fully responsive made to collect leads during a marketing campaign. The page was built using <code>HTML,CSS,JS,JQuery</code> but more importantly was the integgartion made with this page to the client's CRM. Using a third party API (TradeSmarter) I was able to receive a response from their
                  server and insert the lead into my client's database - giving him the ability to track registrations,conversion and deposits. </p>
                <a href="http://www.itsonlinecash.com/social-radar/" target="_blank">Click to view Website</a>

              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3 "><img src="../../assets/images/makeMoney.png " class="img-responsive img-rounded imgCarouselStyling"></div>
              <div class="col-md-9 textStylingParagraph">
                <h2>English? Spanish? You got it</h2>
                <p>Landing page made for a client who wanted to collect leads during a Google adwords marketing campaign. The website was build using <code>HTML,LESS,JS,JQuery</code>.The video in the website was made by me (my voice) - script,narration and animation (Explandio Video Creator). The video was also translated by me to spanish (Living in Mexico defeinetly helped here=).
                  The form is also fully integrated with a client's CRM so he has the ability to track leads during the campaign & gather information using URL params which were previously implemented.</p>
                <a href="http://www.itsonlinecash.com/interest/">English Version,</a>
                <a href="http://www.itsonlinecash.com/spanish/interest/" target="_blank">Spanish Version</a>

              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3"><img src="../../assets/images/FinancialCalculator.png" class="img-responsive img-rounded imgCarouselStyling" style="box-shadow: 3px 1px 5px 1px #969494;"></div>
              <div class="col-md-9 textStylingParagraph">
                <h2>Small numbers do count!</h2>
                <p>I was asked to build a Financial Calculators Service which will be eventully supplied under a full solution package that a client can implement in his website. The live information is taken from 'Mataf.net' using <code>PHP</code>. Later the data is handled using
                  <code>JS,JQuery</code>.In my design I used <code>Material Design and Bootstrap.</code> Website is Fully Responsive - ready for implementation</p>
                <a href="http://www.media4traders.com/calc/fibo.php" target="_blank">Click to view Website</a>

              </div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3"><img src="../../assets/images/binaryBrand.png" class="img-responsive img-rounded imgCarouselStyling" style="box-shadow: 3px 1px 5px 1px #969494;"></div>
              <div class="col-md-9 textStylingParagraph">
                <h2>Feel the breeze</h2>
                <p>Binary Options Brand was looking for an  LP to be more persuasive and outstanding. Using a simple but beautiful video as a background I made the feeling of
                  a vacation/freedom. The website is fully responsive. I used Mainly <code>Bootstrap,Photoshop,CSS,JS</code> in my code.</p>
                <a href="http://www.itsonlinecash.com/free-signals/" target="_blank">Click to view Landing Page</a>

              </div>

            </div>
          </div>
        </div>


        <!-- End Item -->
      </div>
      <!-- End Carousel Inner -->
      <div class="controls" >


        <ul  id="carousel-ul" class="nav">
          <li data-target="#custom_carousel" [ngClass]="{active:item==1}" (click)="changeItemPosition(1)" data-slide-to="0" ><a href="#"><img src="../../assets/images/ldw.png" width="50" height="50"/><small>Designer Work</small></a></li>
           <li data-target="#custom_carousel" [ngClass]="{active:item==2}" (click)="changeItemPosition(2)" data-slide-to="1" ><a href="#"><img src="../../assets/images/FVlogo.png" width="50" height="50"/><small>FinanceVersity</small></a></li>
          <li data-target="#custom_carousel" [ngClass]="{active:item==3}" (click)="changeItemPosition(3)" data-slide-to="2"><a href="#"><img src="../../assets/images/socialRadarLogo.png" width="50" height="50"/><small>Social Radar</small></a></li>
          <li data-target="#custom_carousel" [ngClass]="{active:item==4}" (click)="changeItemPosition(4)" data-slide-to="3"><a href="#"><img src="../../assets/images/makeMoney.png" width="50" height="50"/><small>Interest Rate</small></a></li>
          <li data-target="#custom_carousel" [ngClass]="{active:item==5}" (click)="changeItemPosition(5)" data-slide-to="4"><a href="#"><img src="../../assets/images/FinancialCalculator.png" width="50" height="50"/><small>Financial Calculators</small></a></li>
          <li data-target="#custom_carousel" [ngClass]="{active:item==6}" (click)="changeItemPosition(6)" data-slide-to="5"><a href="#"><img src="../../assets/images/binaryBrand.png" width="50" height="50"/><small>BO Brand</small></a></li>

        </ul>


    </div>
      <div class="strip">
        <h3 id="footerTitle">For more projects
          <a href="javascript:;" class="tooltip">
    Call Me
    <span id="toltipId">
        <img class="callout" src="../../assets/images/callout_black.gif" />
        <img  class="phonePic"src="../../assets/images/callMePhonePic.png" style="float:right;" />
        <strong>My Phone Number</strong><br />
                +972 54-81-20-818
    </span>
  </a>
        </h3>
      </div>
  </div>



</div>


  </div>
