<div class="wrapper">

  <div class="main-wrapper">


  <div id="top-image">
    <ul>
      <li (click)="changeToPhoneDiv()"><img src="../../assets/images/phone-contactme.png"></li>
      <li (click)="changeToEmailDiv()"><img src="../../assets/images/gmailnewlogo.png"></li>
      <li (click)="changeToLinkdinDiv()"><img src="../../assets/images/linknewLogo.png"></li>
    </ul>

    <ul class="responsinveView">
      <li (click)="changeToPhoneDiv()"><img src="../../assets/images/phone-no-string.png"></li>
      <li (click)="changeToEmailDiv()"><img src="../../assets/images/gmail-no-string.png"></li>
      <li (click)="changeToLinkdinDiv() "><img src="../../assets/images/linkedin-no-string.png" style="padding-top: 18px;"></li>
    </ul>
  </div>

  <div id="showTime">
  <ul>
    <li>
      <div>
      <h1><i class="fa fa-mobile"></i>{{title}}</h1>
      <p>{{value}}</p>
    </div>
    </li>
    </ul>
    </div>


</div>


  </div>



