<div class="wrapper">

  <div class="main-wrapper">


  <div id="top-image">
    <ul>
      <li (click)="changeToPhoneDiv()"><img src="../../assets/images/phone-contactme.png"></li>
      <li (click)="changeToEmailDiv()"><img src="../../assets/images/gmailnewlogo.png"></li>
      <li (click)="changeToLinkdinDiv()"><img src="../../assets/images/linknewLogo.png"></li>
    </ul>

  <div id="showTime">
  <ul>
    <li>
      <div>
      <h1><i class="fa fa-mobile"></i>{{title}}</h1>
        <p> <a [href]="url">{{value}}</a></p>
    </div>
    </li>
    </ul>
    </div>


</div>


  </div>

</div>
